<p id="notice"><%= notice %></p>
<section class="show-container">

  <p>
    <%= @post.created_at.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <%= @post.title %>
  </p>

  <p>
    <%= @post.author %>
  </p>
  <p>
    <%= @post.body%>
  </p>

  <button class="btn btn-primary-outline"><%= link_to 'Edit', edit_post_path(@post) %></button>
</section>

<section class="comment-container">
<div class="comment-form">
  <p>Leave a Reply</p>
  <p>Your email address will not be published</p>
  <div class="comment-form">
   <%= form_with model: [@post, @post.comments.build] do |form| %>
   <div class="comment-body">
    <%= form.text_area :body, style: 'width: 100%; height: 200px; padding: 20px 20px;'%>
   </div>
   <div class="comment-text">
    <div>
      <%= form.label :name%>
      <%=form.text_field :name, style: 'width: 295px;' %>
    </div>
    <div>
      <%= form.label :email%>
      <%= form.text_field :email , style: 'width: 295px;'%>
    </div>
   </div>
   
   <button class="comment-btn">
    SUBMIT COMMENT
    <%form.submit %>
   </button>
   <% end %>
  </div>
</div>
<div class="comments">
<p><%= @post.comments.count%> COMMENTS</p>

<% @post.comments.each do |comment|%> 
  <p><%= comment.name%> SAYS:</p>
  <p><%= comment.body%></p>
<% end %>
</div>

</section>

