<p id="notice"><%= notice %></p>
<section class="show-container">

  <p>
    <%= @post.created_at.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <%= @post.title %>
  </p>

  <p>
    <%= @post.author %>
  </p>
  <p>
    <%= @post.body%>
  </p>

  <button class="btn btn-primary-outline"><%= link_to 'Edit', edit_post_path(@post) %></button>
 

</section>

